@import '../../@theme/styles/variables.scss';

.container-fluid {
    height: 100vh;
    background-color: white;
    background-image: url('../../../assets/images/background-images/background-sign-up.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.register-input {
    background-color: $color-gray-100;
    border-color: $color-white;
    height: 45px;
    padding-left: 25px;
}

.continue-button {
    padding: 16px 80px;
    border: none;
    background-color: $color-blue-900;
    color: $color-white;
}

.log-in-button {
    background-color: $color-gray-100;
    color: $color-gray-900;
    padding: 16px 90px;
}

nb-select { width: 100%; }

nb-radio {
    float: left !important;
    zoom: 0.8;
}

h6, h5 {
    font-family: 'Montserrat-SemiBold' !important;
    color: $color-gray-900;
}

h6 {
    font-size: 0.8rem;
}

.terms-and-conditions-buttons {
    padding: 12px 15px;
    font-size: 0.7rem;
}

@media screen and (max-width: 450px) {
    .continue-button {
        padding: 10px 20px;
    }
    .log-in-button {
        padding: 10px 30px;
    }
}
