<div class="container-fluid mx-auto">
    <div class="row lado1 my-5">
        <div >
            <nb-card class="card-login">
                <nb-card-body>
                    <div class="row">
                        <img width="121.39px" height="50.78px" class="mx-auto" src="../../../assets/images/logotype/logo-blue.svg" alt="">
                        <div class="col-12 text-center subtext my-2" font-size='12px'>
                            SELL OR BUY PRODUCTS.
                        </div>
                    </div>
                    <form [formGroup]="loginForm" style="height: 180px; display: grid; align-items: center;" >
                            <div class="row padre" >
                                <div class="hijo">
                                    <input type="email" formControlName="email" class="form-control register-input input-text" placeholder="Correo">
                                </div>
                                <div class="hijo">
                                    <input type="password" formControlName="password" class="form-control register-input input-text" placeholder="Contraseña">
                                </div>
                            </div>
                    </form>
                    <div class="row">
                        <div class="col-9 mx-auto my-1 text-center">
                            <button class="rounded-pill continue-button" (click)="login()">Sign In</button>
                        </div>
                        
                        <div class="col-9 mx-auto text-center">
                            <button onclick="location.href='https://hgloo-app.web.app/pages/sign-up'" class="rounded-pill continue-button log-in-button">Crear una cuenta</button>
                        </div>
                        <div class="col-9 mx-auto my-4 text-center subtext">
                            By continuing, you agree to 
                            <b>
                                <a [routerLink]="" (click)="openModal(dialog)">Hgloo conditions</a>
                            </b>
                             of use and privacy notice.
                        </div><br><br>
                        <div class="col-9 mx-auto text-center subtext">
                            <b>
                                <a href="https://akveo.page.link/8V2f" target="_blank">Need help?</a>
                            </b><br><br><br>
                        </div>
                        <div class="col-9 mx-auto text-center">
                            <img width="15px" src="../../../assets/images/logotype/decorator-1.svg">
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="lado2 col-md-6" >
        <h1 [@popFirstState]="stateName">{{ phrases[ currentPhrases ] }}</h1>
    </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card [nbSpinner]="saving" nbSpinnerStatus="primary">
      <nb-card-header><h5>Términos y condiciones</h5></nb-card-header>
      <nb-card-body>
        <div class="modal-content-lg mx-auto">
            <div class="container" style="height: 400px;">
                <div class="row" *ngFor="let term of termsAndConditions">
                    <div class="col-12 my-2">
                        <h6>{{ term.title }}</h6>
                        <small class="text-muted">{{ term.description }}</small>
                    </div>
                </div>
            </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button class="rounded-pill continue-button log-in-button terms-and-conditions-buttons mx-2" (click)="ref.close()">Close</button>
       </nb-card-footer>
    </nb-card>
  </ng-template>
  