@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';
@import './variables.scss';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../../assets/fonts/Montserrat/Montserrat-Medium.ttf') format('opentype');
}

.subtext {
  font-family: 'Montserrat-SemiBold';
  color: $color-gray-900;
  font-size: 0.8rem;
}

.input-text {
  font-family: 'Montserrat-Medium';
  color: $color-gray-900;
  font-size: 0.8rem;
}

a {
  color: $color-blue-900;
  font-family: 'Montserrat-SemiBold';
}
